.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(0,255,98);
    background: linear-gradient(90deg, rgba(0,255,98,1) 0%, rgba(0,109,255,1) 100%);
}

.login-title{
    font-size: 50px;
    color: whitesmoke;
}

.login-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    color: teal;
}

.login-form > label{
    margin: 10px 0;
}

.login-input{
    padding: 10px;
    background-color: white;
    border: none;
}

.login-button{
   margin-top: 20px;
   cursor: pointer; 
   background-color: lightcoral;
   border: none;
   border-radius: 50px;
   color: whitesmoke;
   padding: 10px;
}

.register-button{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    border-radius: 50px;
    color: whitesmoke;
    padding: 10px;
}